form{
    padding:5%;
    box-shadow:2px 2px 5px black;
    background-color:grey;
    
 
    margin-bottom: 5%;
    
}


h2{
 
    
    color: wheat;
}
.myButton{
    background-color: rgb(1, 9, 26);
}